<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>active</key>
	<string>ffffffff</string>
	<key>background_color</key>
	<string>313030ff</string>
	<key>loading_error_label</key>
	<dict>
		<key>fontcolor</key>
		<string>313030ff</string>
		<key>fontname</key>
		<string>HelveticaNeue</string>
		<key>fontsize</key>
		<string>12</string>
	</dict>
	<key>loading_spinner_color</key>
	<string>313030ff</string>
	<key>main_text</key>
	<string>313030ff</string>
</dict>
</plist>
